/* src/Artist/ArtistResOne.css */
.artist-event-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(252,231,231);
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
    margin-top: 0;
    overflow: hidden;
    margin-top: 4.8rem;
}
  
  .artist-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe90;
    padding: 20px 0;
    border-bottom: 1px solid #bec59341;
    
  }
  
  .artist-navbar h2 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }
  
  .artist-event-content {
    display: flex;
    padding: 20px;
  }
  
  .artist-event-image-container {
    width: 50%;
    margin-right: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.637);
    border-radius: 10px;
  }
  
  .artist-event-image-link {
    text-decoration: none;
  }
  
  .artist-event-image-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
  }
  
  .artist-event-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-delay: initial;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    will-change: transform, opacity;
    border-radius: 10px;
    /* width: auto; */
    /* margin: 0 auto; */
  }
  
  .artist-event-details {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .artist-event-header {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft and subtle shadow */
  
    /* Gradient Overlay (adjust colors and opacity as needed)*/
    background: linear-gradient(
      to bottom, 
      rgb(255, 165, 160), /* Top color (white with 80% opacity) */
      rgba(240, 240, 255, 0.9)  /* Bottom color (light purple with 90% opacity) */
    );
  } 
  
  .artist-event-details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .artist-event-title-section {
    display: flex;
    flex-direction: column;
  }
  
  .artist-event-title-wrapper {
    display: flex;
    align-items: center;
  }
  
  .artist-event-title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin: 0;
  }
  
  .artist-event-subtitle-wrapper {
    display: flex;
    align-items: center;
  }
  
  .artist-event-subtitle {
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  
  .artist-event-book-button-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  
  .artist-book-button-container {
    display: flex;
    /* align-items: center; */
  }
  
  .artist-book-button {
    background-color: #ff5722;
    color: #fff;
    /* padding: 24px 24px 24px 24px; */
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* background-color: #ff5722;
    color: #fff;
    border: none;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease; */
  }
  
  .artist-book-button:hover {
    background-color: #e64a19;
  }
  
  .artist-event-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .artist-event-info-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .artist-event-date-time {
    display: flex;
    align-items: center;
  }
  
  .artist-date-time-wrapper {
    display: flex;
    align-items: center;
  }
  
  .artist-event-date {
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  
  .artist-event-time {
    font-size: 16px;
    color: #666;
    margin: 0;
    margin-left: 10px;
  }
  
  .artist-event-location-price {
    display: flex;
    align-items: center;
  }
  
  .artist-location-wrapper {
    display: flex;
    align-items: center;
  }
  
  .artist-location-icon {
    width: 18px;
    height: 22px;
    fill: #ff5722;
    margin-right: 10px;
  }
  
  .artist-event-location {
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  
  .artist-price-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .artist-event-price {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 0;
  }
  
  .artist-price-onwards {
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-left: 5px;
  }
  
  .artist-filling-fast-label-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  
  .artist-filling-fast-label {
    background-color: #ff5722;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

