/* Signup.css */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-content {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}

.signup-form {
  margin-bottom: 20px;
}

.signup-input {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: border-color 0.2s;
}


.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #f44242;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.signup-button:hover {
  background-color: #66a9f0;
}

.signin-link {
  text-align: center;
  margin-top: 20px;
}

.signin-text {
  color: #007bff;
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

/* Keyframes and animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

/* Styles for Google signup */

.oauth-container {
  margin-top: 20px;
}


